<div class="max-w-lg mx-auto mt-16 text-center">
  <h1 class="mb-4 text-3xl font-black">Welcome to Your Skema App!</h1>
  <p class="text-lg leading-snug">Follow the instructions to finish the setup of your new app</p>
</div>
